@model IEnumerable<Entities.Models.PortfolioAccount>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
	ViewBag.Title = "List Of PortfolioAccount";
	//Layout = "_Layout";
}


<a asp-action="Create" asp-controller="PortfolioAccount">Create Portfolio Account</a>
<div class="box">
	<h3 class="box-title">@ViewBag.Title</h3>
	<div class="box-body">
		<table class="table table-bordered table-hover dataTable">
			<thead>
				<tr>
					<th>
						@Html.DisplayNameFor(model => model.Id)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.AccountNumber)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.AccountName)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.EntryDate)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.EntryUserId)
					</th>
					<th>
						Action
					</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td>
							@Html.DisplayFor(modelitem => item.Id)
						</td>
						<td>
							@Html.DisplayFor(modelitem => item.AccountNumber)
						</td>
						<td>
							@Html.DisplayFor(modelitem => item.AccountName)
						</td>
						<td>
							@Html.DisplayFor(modelitem => item.EntryDate)
						</td>
						<td>
							@Html.DisplayFor(modelitem => item.EntryUserId)
						</td>
						<td>
							<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
							<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
						</td>

					</tr>
				}
			</tbody>
		</table>
	</div>
</div>