@model Entities.ViewModels.StockReceiveMastViewModel
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
<style>
	label {
		width: 12%;
	}
</style>
@{
	ViewBag.Title = "Modify Stock Receive";
}
<h2>@ViewBag.Title</h2>

<div>
	<form method="post" asp-action="Edit" asp-controller="StockReceive">
		<div>
			<div class="form-group hidden">
				<label>Id</label>
				<input type="text" asp-for="Id" />
			</div>
			<div class="form-group">
				<label>Value Date</label>
				<input type="text" asp-for="ValueDate" placeholder="YYYY/MM/DD" />
			</div>
			<div class="form-group">
				<label>Portfolio Ac No.</label>
				<select asp-items="@(new SelectList(@ViewBag.PortfolioAccountList,"Id","AccountNumber"))" asp-for="PortfolioAcId">
					<option value="">Select</option>
				</select>
				@*<input type=" text" asp-for="PortfolioAccountNumber" />*@
			</div>
			<div class="form-group">
				<label>Portfolio Ac Name</label>
				<input type="text" asp-for="PortfolioAccountName" readonly="readonly" />
			</div>
			<div class="form-group">
				<label>Remarks</label>
				<input type="text" asp-for="Remarks" />
			</div>
		</div>
		<div>
			<table id="StockReceiveDetail">
				<thead>
					<tr>
						<th>Stock Name</th>
						<th>OwnerShip Date</th>
						<th>Quantity</th>
						<th>Rate</th>
						<th>Amount</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					@{
						int index = 0;
						foreach (var item in Model.details)
						{
							<tr>
								<td>
									<select asp-items="@(new SelectList(@ViewBag.StockList,"Id","StockName"))" asp-for="details[index].StockId"></select>
								</td>
								<td>
									<input type="text" asp-for="details[index].OwnerShipDate" placeholder="YYYY/MM/DD" />
								</td>
								<td>
									<input type="text" asp-for="details[index].Quantity" onkeyup="CalculateAmount()" />
								</td>
								<td>
									<input type="text" asp-for="details[index].Rate" onkeyup="CalculateAmount();" />
								</td>
								<td>
									<input type="text" id="Amount" />
								</td>
							</tr>
							index++;
						}

					}
					<tr>
						<td>
							<select asp-items="@(new SelectList(@ViewBag.StockList,"Id","StockName"))" id="StockName">
								<option value="">Select</option>
							</select>
						</td>
						<td>
							<input type="text" id="OwnerShipDate" placeholder="YYYY/MM/DD" />
						</td>
						<td>
							<input type="text" id="Quantity" onkeyup="CalculateAmount()" />
						</td>
						<td>
							<input type="text" id="Rate" onkeyup="CalculateAmount();" />
						</td>
						<td>
							<input type="text" id="Amount" />
						</td>
						<td>
							<button type="button" class="btn" id="btn-add" data-target="">Add</button>
							<button type="button" class="btn " id="btn-clear">Clear</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="form-group">
			<input type="submit" id="btnSubmit" class="btn btn-facebook" value="Update" asp-action="Edit" asp-controller="StockReceive" />
			<a asp-action="Index" asp-controller="StockReceive">Back to Index</a>
		</div>

	</form>

</div>


<script src="~/js/jquery.min.js"></script>
<script src="~/js/jquery.maskedinput.min.js"></script>
<script type="text/javascript">
	$(document).ready(function ($) {
		$("#ValueDate").mask("9999/99/99");
		$("#OwnerShipDate").mask("9999/99/99")
		var $table = $('#StockReceiveDetail>tbody');
		$('#btn-add').click(function () {
			$this = $(this);
			var index = parseInt($table.find('tr').length) - 1;
			var addtr = addRow(index);
			$table.find('tr:eq(' + index + ')').before(addtr);
			$this.closest('tr').find(':input').each(function () {
				$(this).val('');
			});
		});

		$("#StockReceiveDetail>tbody").on("click", ".btn-delete", function (index) {
			$table.find('tr:eq(' + index.currentTarget.id + ')').remove();

		});


		//formValidate();

	});

	function formValidate() {
		$("#btnSubmit").click(function () {
			debugger;
			if (!$("#CreateForm").valid()) {
				$("#myModal").modal();
			}
		});
	}

	function CalculateAmount() {
		$('#Amount').val(parseFloat($('#Quantity').val() * $('#Rate').val()).toFixed(2));
	};

	function addRow(index) {
		var addedRow = '<tr>\
						<td>\
							<select  name="details[' + index + '].StockId" type="text" readonly="readonly">\
							<option value="' + $('#StockName').val() + '">' + $('#StockName').find(":selected").text() + '</option>\
							</select >\
							</td >\
		<td><input value="' + $('#OwnerShipDate').val() + '" name="details[' + index + '].OwnerShipDate" readonly=readonly /></td>\
						<td><input value="' + $('#Quantity').val() + '" name="details[' + index + '].Quantity" readonly=readonly /></td>\
						<td><input value="' + parseFloat($('#Rate').val()).toFixed(2) + '" name="details[' + index + '].Rate" readonly="readonly" /></td>\
						<input value="0" name="details[' + index + '].Status" class="form-control input-sm" type="hidden" readonly="readonly" />\
						<td><input value="' + parseFloat($('#Amount').val()).toFixed(2) + '" name="details[' + index + '].Amount" readonly="readonly" /></td>\
						<td><a class="table-action-nav-btn btn btn-sm btn-delete" title="Delete" id="'+ index + '">Delete</a>\
					</tr>\ ';
		return addedRow;

	}
</script>